<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Extend</title>
</head>
<body>
<div class="container">

  <form action="#" th:action="@{/loan/toextend}" method="post">
    <p>Loan sum</p>
    <div th:text="${loan.loanSum}">
    </div>
    <input class="btn btn-primary" type="submit" value="Submit" />
  </form>
</div>
</body>
</html>